<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- For Google -->
    <link rel="author" href="https://plus.google.com/+Scoopthemes">
    <link rel="publisher" href="https://plus.google.com/+Scoopthemes">
    <!-- for Twitter -->
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="aixia">
    <meta name="twitter:title" content="爱夏">
    <meta name="twitter:description" content="爱夏">
    <meta name="twitter:image" content="爱夏">
    <meta name="twitter:url" content="爱夏">
    <!-- for Facebook OpenGraph -->
    <meta property="og:title" content="爱夏"/>
    <meta property="og:type" content="爱夏"/>
    <meta property="og:image" content="爱夏"/>
    <meta property="og:url" content="爱夏"/>
    <meta property="og:description" content="爱夏"/>

    <!-- Canonical -->
    <link rel="canonical" href="">

    <title>爱夏 - Admin</title>

    <!--STYLES-->
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='styles/dropzone.css') }}">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='styles/editor.css') }}">
    <!--STYLES END-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- font Awesome CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- Main Styles CSS -->
    <link href="{{ url_for('admin.static', filename='styles/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('admin.static', filename='styles/style.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="wrapper">

    <aside id="sideBar">
        <ul class="main-nav">
            <!-- Your Logo Or Site Name -->
            <li class="nav-brand">
                <a href="{{ url_for('admin.index') }}"><img src="{{ url_for('admin.static', filename='img/logo.png') }}" alt=""></a>
            </li>
            <!-- Search -->
            <li class="main-search">
                <form action="#">
                    <input type="text" class="form-control search-input" placeholder="Search here...">
                    <i class="fa fa-search"></i>
                </form>
            </li>
            <li class="active"><a href="{{ url_for('admin.new_post') }}">- 新文章</a>
            </li>
            <li class="inactive">
                <a href="{{ url_for('admin.manage_posts') }}">- 管理文章</a>
            </li>
            <li class="inactive">
                <a href="#">- 标签</a>
            </li>
            <li class="inactive">
                <a href="{{ url_for('admin.setting') }}">- 设置</a>
            </li>
        </ul>
    </aside>

    <!-- Main Section -->
    <section class="main-section">

        <div class="content">
            <div class="container">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-waring">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                    </div>
                {% endfor %}
            </div>
{#        flash消息#}
        <!-- Add Your Content Inside button, menuToggler -->

        {% block content %}
{#            <form role="form" class="form" method="post">#}
{#            <div class="input-group">#}
{#                    <span class="input-group-btn">#}
{#                        <div class="btn btn-secondary btn-default sidebutton"#}
{#                             type="button" id="menuToggler">#}
{#                            <span class="fa fa-bars"></span>#}
{#                        </div>#}
{#                    </span>#}
    {#                侧边栏收缩#}
{##}
{#                    <input type="text" class="inputtitle" placeholder="文章标题" id='title' value="(Untitled)">#}
{#                    <span class="input-group-btn">#}
{#                    <span class="input-group-btn">#}
{#                    <button class="btn btn-secondary btn-primary sidebutton"#}
{#                            type="button">#}
{#                        <input class="btn btn-default" id="submit" name="submit" type="submit" value="保存">#}
{#                    </button>#}
{#                    </span>#}
{#                    </span>#}
{#                </div>#}
    {#        顶部块#}
{#                <div class="form-group ">#}
{#                    <label class="control-label" for="cover">封面图</label>#}
{#                    <input class="form-control" id="cover" name="cover" type="text" value="">#}
{#                </div>#}
{#                <div class="form-group  required">#}
{#                    <label class="control-label" for="url_name">Post URL</label>#}
{#                    <input class="form-control" id="url_name" name="url_name" required="" type="text" value="">#}
{#                </div>#}
{#                <div class="checkbox">#}
{#                    <label><input id="publish" name="publish" type="checkbox" value="y"> 发布</label>#}
{#                </div>#}
{#                <div class="form-group ">#}
{#                    <label class="control-label" for="publish_date">发表日期</label>#}
{#                    <input class="form-control" id="publish_date" name="publish_date" type="text" value="">#}
{#                </div>#}
    {#            中间块#}
{#                <div>#}
{#                    <h2>正文</h2>#}
{#                </div>#}
{#                <div class="editorwrap row">#}
{#                    <!-- Markdown Editor -->#}
{#                    <section class="entry-markdown col-sm-6 col-xs-12">#}
{#                        <div id="scroll">#}
{#                            <header class="floatingheader">#}
{#                                <small>Markdown</small>#}
{#                                <a class="markdown-help pull-right" data-toggle="modal" data-target="#myModal">#}
{#                                    <span class="fa fa-question"></span>#}
{#                                </a>#}
{#                            </header>#}
{#                            <section class="entry-markdown-content">#}
{#                                <textarea id="entry-markdown" class="form-control" name="body" required="">#}
{#                                <textarea class="form-control" id="body" name="body" required="">zxczczxc阿斯顿自行车在出租车</textarea>        #}
{##}
{#                                </textarea>#}
{#                            </section>#}
{#                        </div>#}
{#                    </section>#}
{#                    <!-- Markdown Editor END-->#}
{##}
{##}
{#                    <!-- Markdown Preview -->#}
{#                    <section class="entry-preview active col-sm-6 hidden-xs">#}
{#                        <div id="scrollh">#}
{#                            <header class="floatingheader">#}
{#                                <small class="pull-left">Preview</small>#}
{#                                <small class="pull-right"><span class="entry-word-count js-entry-word-count">77 words</span>#}
{#                                </small>#}
{#                            </header>#}
{#                            <section class="entry-preview-content">#}
{#                                <div class="rendered-markdown"></div>#}
{#                            </section>#}
{#                        </div>#}
{#                    </section>#}
{#                    <!-- Markdown Preview END-->#}
{#                </div>#}
{#                <div>#}
{#                    <p><input type="submit" value="保存"></p>#}
{#                </div>#}
{#            </form>#}
        {% endblock %}
        <!-- /.content -->
        </div>

    </section>
    <!-- /.main-section -->


</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<script src="{{ url_for('admin.static', filename='js/custom.js') }}"></script>
<!--SCRIPTS-->
<script src="{{ url_for('admin.static', filename='js/dropzone.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/ghostdown.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/runit.js') }}"></script>
<!--SCRIPTS END-->
<!-- Call functions on document ready -->
<script>
    $(document).ready(function () {
        // Call Menu Toggler
        appMaster.menuToggler();
        // Example Call anotherFunction
        appMaster.anotherFunction();
    });
</script>

{{ pagedown.include_pagedown() }}


<div id="myModal" class="modal fade">
    <div class="modal-dialog col-xs-push-1">
        <div class="modal-content col-xs-11">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Markdown Help</h4>
            </div>

            <div class="modal-body">
                <section class="markdown-help-container">
                    <table class="modal-markdown-help-table">
                        <thead>
                        <tr>
                            <th>Markdown</th>
                            <th>Result</th>
                            <th>Shortcut</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>**text**</td>
                            <td><strong>Bold</strong></td>
                            <td>Ctrl/⌘ + B</td>
                        </tr>
                        <tr>
                            <td>*text*</td>
                            <td><em>Emphasize</em></td>
                            <td>Ctrl/⌘ + I</td>
                        </tr>
                        <tr>
                            <td>~~text~~</td>
                            <td>
                                <del>Strike-through</del>
                            </td>
                            <td>Ctrl + Alt + U</td>
                        </tr>
                        <tr>
                            <td>[title](http://)</td>
                            <td><a href="#">Link</a></td>
                            <td>Ctrl/⌘ + K</td>
                        </tr>
                        <tr>
                            <td>`code`</td>
                            <td><code>Inline Code</code></td>
                            <td>Ctrl/⌘ + Shift + K</td>
                        </tr>
                        <tr>
                            <td>![alt](http://)</td>
                            <td>Image</td>
                            <td>Ctrl/⌘ + Shift + I</td>
                        </tr>
                        <tr>
                            <td>* item</td>
                            <td>List</td>
                            <td>Ctrl + L</td>
                        </tr>
                        <tr>
                            <td>&gt; quote</td>
                            <td>Blockquote</td>
                            <td>Ctrl + Q</td>
                        </tr>
                        <tr>
                            <td>==Highlight==</td>
                            <td>
                                <mark>Highlight</mark>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td># Heading</td>
                            <td>H1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>## Heading</td>
                            <td>H2</td>
                            <td>Ctrl/⌘ + H</td>
                        </tr>
                        <tr>
                            <td>### Heading</td>
                            <td>H3</td>
                            <td>Ctrl/⌘ + H (x2)</td>
                        </tr>
                        </tbody>
                    </table>
                    <br><br> For further Markdown syntax reference: <a href="http://support.ghost.org/markdown-guide/"
                                                                       target="_blank">Markdown Documentation</a>
                </section>

            </div>
        </div>
    </div>
</div>

</body>

</html>