{% extends "dashboard.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
    <div class="col-lg-8">
    <div class="content">
    <h4><strong>管理标签</strong></h4>
        <hr>
    <p><span class="glyphicon glyphicon-file"></span>标签总数：<span class="badge">{{ pagination.query.count() }}</span></p>
    <table class="table table-hover">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							名称
						</th>
                        <th>
                            URL
                        </th>
                        <th>
                            编辑
                        </th>
                        <th>
                            预览
                        </th>
					</tr>
				</thead>
{#        表头#}
				<tbody>
                    {% for tag in tags %}
					<tr>
						<td>
							{{ tag.id }}
						</td>
						<td>
							{{ tag.name }}
						</td>
                        <td>
                            {{ tag.url_name }}
                        </td>

                        <td>
                            <a href="{{ url_for('admin.modify_tag', url_name=tag.url_name) }}">
                                <span class="glyphicon glyphicon-pencil" title="修改"></span>
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('home.tag', url_name=tag.url_name) }}" target="_blank">
                                <button type="button" class="btn btn-sm btn-info" >预览</button>
                            </a>
                        </td>
					</tr>
                    {% endfor %}
				</tbody>
{#        行#}
    </table>



    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'admin.manage_tags') }}
    </div>

    </div>
    </div>
{% endblock %}
