body{
	overflow-x:hidden !important;
}
secion .entry-markdown{
	overflow-y:hidden;
}

section .entry-preview{
	overflow-y:hidden;
}
.entry-preview{
	word-wrap:break-word;
	border-left:1px solid #E3E3E3;
}
.entry-markdown{
	padding:0px;
}

.inputtitle{
	
    width:100%;
	border:none;
	border-radius:0px;
	color:#242628;
	font-size:2.6rem;
	letter-spacing:-1px;
	height:65px;
    border-bottom: #dfe1e3 1px solid;
    outline:none !important;
	
}
.sidebutton{
	height:65px;
	border:0px;
    border-bottom: #dfe1e3 1px solid;
}
div.sidebutton{
	margin-right:0px !important;
	border-bottom-left-radius:0px;
    border-bottom: #dfe1e3 1px solid;
	outline:none !important;
	
}

div .sidebutton span{
vertical-align: middle;
margin-top:20.25px;
color:#7A7A7A;
}
.markdown-help{
	color:#aaa9a2;
}

table tbody tr td  {
	padding-right:60px !important;
	
}
table thead tr th{
	padding-bottom:8px !important;
	text-align:left;
}
#sideBar{
overflow-x:hidden;
}
.main-nav .main-search {
	margin-bottom:15px;
}
.main-nav .active[class*="active"]{
	background:#767676;
}
.main-nav .inactive:hover{
	background:#767676;
}