{% extends "admin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    {#    <div class="content">#}
    {#    {{ wtf.quick_form(form) }}#}
    {#    {{ pagedown.include_pagedown() }}#}
    {#    </div>#}
    <div class="content">

        <form action="" method="post" class="form" role="form">
            <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden"
                                              value="1473345836##420cdbf838c088f931610379bb3cffd6d4707b7e"></div>
            <div class="form-group  required"><label class="control-label" for="title">标题</label>
                <input class="form-control" id="title" name="title" required="" type="text" value="">
            </div>
            <div class="form-group "><label class="control-label" for="cover">封面图</label>
                <input class="form-control" id="cover" name="cover" type="text" value="">
            </div>
            <div class="form-group  required"><label class="control-label" for="url_name">Post URL</label>
                <input class="form-control" id="url_name" name="url_name" required="" type="text" value="">
            </div>
            <div class="form-group  required"><label class="control-label" for="body">正文</label>
                <textarea class="form-control" id="body" name="body" required=""></textarea>
            </div>
            <div class="form-group "><label class="control-label" for="summary">文章摘要</label>
                <textarea class="form-control" id="summary" name="summary"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input id="publish" name="publish" type="checkbox" value="y"> 发布
                </label>
            </div>
            <div class="form-group "><label class="control-label" for="publish_date">发表日期</label>
                <input class="form-control" id="publish_date" name="publish_date" type="text" value="">
            </div>

            <input class="btn btn-default" id="submit" name="submit" type="submit" value="保存">
        </form>

        <script type="text/javascript"
                src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
        <script type="text/javascript"
                src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.min.js"></script>

    </div>
{% endblock %}
